:root {
  --font-default: "Roboto Condensed", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Colors */
:root {
  --color-default: #606062;
  --color-primary: #f58634;
  --color-secondary: #fff;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: #d395a9;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

p {
  margin: 0;
  color: var(--color-primary);
  font-size: 1rem;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

.mobileoverflowfix {
  width: 100%;
  overflow-x: hidden;
}

.vcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.about,
.legacy,
.services,
.portfolio,
.clients,
.quote,
.contact,
.footer {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  transition: all 0.4s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: var(--color-default);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--color-primary);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--color-primary);
  border-top-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 24px 0;
}

@media (max-width: 1200px) {
  .header {
    padding: 12px 0;
  }
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .header .container-fluid {
    background-color: var(--color-default);
    padding-right: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .navbar {
    padding: 0;
    text-align: center;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    font-family: var(--font-default);
    font-size: 15px;
    font-weight: 500;
    color: var(--color-secondary);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar .getquote a,
  .navbar .getquote a:focus {
    background-color: var(--color-primary);
    color: var(--color-default);
  }

  .navbar .getquote a:hover,
  .navbar .getquote .active .navbar .getquote .active:focus {
    color: var(--color-secondary);
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: var(--color-primary);
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.2s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-secondary);
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover > a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .header .logo img {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: var(--color-primary);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-default);
    font-size: 15px;
    font-weight: 600;
    color: var(--color-secondary);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: var(--color-default);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: rgba(20, 35, 51, 0.6);
  }

  .navbar .dropdown > .dropdown-active,
  .navbar .dropdown .dropdown > .dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: var(--color-secondary);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    background-color: var(--color-primary);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 0.25rem;
  }

  .mobile-nav-hide {
    color: var(--color-secondary);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(27, 47, 69, 0.7);
    z-index: 9996;
  }
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

.video-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.darken {
  background-color: rgba(0, 0, 0, 0.75);
}

.scrollico {
  text-align: center;
  font-size: 3rem;
  color: var(--color-secondary);
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
  background-color: var(--color-secondary);
}

.aboutimgs {
  min-height: 300px;
}

.about .aboutimg1,
.aboutimg2,
.aboutimg3 {
  position: relative;
  height: 30%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutimg1 {
  background-image: url(../img/placeholder.jpg);
}

.aboutimg2 {
  background-image: url(../img/placeholder.jpg);
}

.aboutimg3 {
  background-image: url(../img/placeholder.jpg);
}

@media (max-width: 991.98px) {
  .aboutimgs {
    padding-bottom: 1rem;
  }
}

.about p {
  text-align: justify;
}

/*--------------------------------------------------------------
# Legacy
--------------------------------------------------------------*/
.legacy {
  background-image: url(../img/Legacy_PC.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
  display: flex;
  align-items: center;
}

@media (max-width: 1199.98px) {
  .legacy {
    background-image: url(../img/Legacy_Mob.png);
    background-position: bottom right;
    min-height: 1000px;
    display: block;
  }
}

.legacy p,
h1 {
  color: var(--color-secondary);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.serviceitem {
  position: relative;
}

.seemore {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: rgba(96, 96, 98, 0.75);
}

.services p {
  color: var(--color-secondary);
  text-align: justify;
  padding-top: 0.5rem;
}

@media (max-width: 991.98px) {
  .services p {
    padding-bottom: 1.5rem;
  }
}

.ginner-container {
  padding: 20px;
}

/*--------------------------------------------------------------
# Services Subpages
--------------------------------------------------------------*/

.servsub .ginner-container {
  padding: 20px;
}

/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio {
  background-color: var(--color-secondary);
}

.portfolio h1 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2.5rem;
}

.portfolio .portfolio-flters {
  padding: 0;
  margin: 0 auto 30px auto;
  list-style: none;
  text-align: center;
}

.portfolio .portfolio-flters li {
  color: var(--color-default);
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  margin: 0 10px;
  line-height: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-flters li:hover,
.portfolio .portfolio-flters li.filter-active {
  color: var(--color-primary);
}

.portfolio .portfolio-flters li:first-child {
  margin-left: 0;
}

.portfolio .portfolio-flters li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .portfolio .portfolio-flters li {
    font-size: 14px;
    margin: 0 5px;
  }
}

.portfolio .portfolio-item {
  position: relative;
}

/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients {
  background-color: var(--color-secondary);
  padding-top: 0;
}

.clients h1 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2.5rem;
}

.clients .swiper {
  padding: 10px 0;
}

.clients .swiper-slide img {
  transition: 0.3s;
}

.clients .swiper-slide img:hover {
  transform: scale(1.1);
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

/*--------------------------------------------------------------
# Quote Section
--------------------------------------------------------------*/

.quote {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  position: relative;
}

.quote p {
  color: var(--color-secondary);
  padding-bottom: 1rem;
}

.quote .info-item + .info-item {
  margin-top: 40px;
}

.quote .info-item i {
  font-size: 20px;
  background: var(--color-primary);
  color: #fff;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.quote .info-item h4 {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--color-secondary);
}

.quote .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.quote .php-email-form {
  width: 100%;
}

.quote .php-email-form .form-group {
  padding-bottom: 8px;
}

.quote .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #142141;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.quote .php-email-form .error-message br + br {
  margin-top: 25px;
}

.quote .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.quote .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.quote .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.quote .php-email-form input,
.quote .php-email-form textarea,
.quote .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 12px 15px;
}

.quote .php-email-form input:focus,
.quote .php-email-form textarea:focus,
.quote .php-email-form select:focus {
  border-color: var(--color-primary);
}

.quote .php-email-form textarea {
  padding: 10px 12px;
}

.quote .php-email-form button[type="submit"] {
  border: 0;
  padding: 12px 40px;
  transition: 0.4s;
}

.cta-btn {
  font-family: var(--font-default);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  transition: 0.5s;
  margin: 10px;
  color: var(--color-primary);
  background: var(--color-secondary);
}

.cta-btn:hover {
  background: var(--color-default);
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

.contact {
  background-color: var(--color-default);
  color: var(--color-default);
}

.contact p,
.contact h3,
.contact a,
.contact a:hover {
  color: var(--color-default);
}

.contact i {
  font-size: 3rem;
}

.contactitem {
  width: 100%;
  padding: 2rem;
  margin-top: 1.5rem;
  background-color: var(--color-secondary);
}

.mapouter {
  position: relative;
  text-align: right;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
.footer {
  background-color: #3c3c3b;
}

.footer p {
  color: var(--color-secondary);
  float: left;
}

.footer a {
  margin-top: 1.5rem;
  margin-right: 1rem;
  color: var(--color-primary);
}

.footer a:hover,
.footer a:active {
  color: var(--color-secondary);
}
